/* src/styles.css */
:root {
  --color-primary: #6F2C91;     /* Book support button */
  --color-sidebar-bg: #FAF1FA;  /* side bar bg */
  --color-main-bg: #FFF7FE;     /* bg for main */
  --color-nav-white: rgba(255, 255, 255, 0.6); /* top nav bar 60% */
  --color-success-green: #7AC143; /* Tooltip green */
  --color-active-purple: #E9D5E9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent body scroll, use container scroll */
}